# Node.js
node_modules/

# Express.js
*.log

# Angular
dist/
e2e/
node_modules/
src/assets/.DS_Store
src/assets/*.log

# MongoDB
data/

#Labtests
Live-Chat-Webapp/

#Assignments
101133838_COMP3133_Assignment1
